* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: #d4dad9;
}

h1 {
    font-size: 48px;
    font-weight: 600;
    line-height: 58px;
}

h2 {
    font-size: 30px;
    font-weight: 600;
    line-height: 40px;
    color: #444444;
    text-align: center;
    text-transform: uppercase;
}

h2 > span {
    position: relative;
}

h2 > span::after{
    content: "";
    height: 2px;
    background: #444444;
    width: 40%;
    margin-left: -20%;
    left: 50%;
    top:120%;
    position: absolute;
}

h3 {
    font-size: 24px;
    font-weight: 600;
}

.services, .works, .team, .blog, .contact, footer {
    padding: 60px 0;
}

.main-wrapper {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1170px;
}

.main-wrapper > img {
    padding-bottom: 20px;
}

header {
    background-color: #1f2937;
    height: 65px;
    position: sticky;
    top:0;
    z-index: 10;
}

header > .main-wrapper {
    display: flex;
    align-items: center;
    height: 100%;
}

.main-menu {
    margin-right: auto;
    margin-left: 15px;
}

.main-menu > ul > li {
    display: inline-block;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    color: white;
    margin-right: 15px;
    cursor: pointer;
    position: relative;
}

.main-menu > ul > li > a {
    text-decoration: none;
    color: inherit;
}

.main-menu > ul > li:last-child {
    margin-right: 0;
}

.main-menu > ul > li::after {
    content: '';
    width: 10%;
    height: 3px;
    background: #00D5C3;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 25px;
    opacity: 0;
    transition-duration: 0.3s;
}

.main-menu > ul > li:hover::after {
    opacity: 1;
    width: 100%;
}

main > .main-wrapper > .main-board__left-block {
    margin-top: 15px;
    width: 350px;
    height: auto;
    background: #ffffff;
    box-shadow: 5px 5px 15px 1px #685757;
    border-radius: 5px;
    position: relative;
    font-size: 14px;
}

.string {
    margin-top: 10px;
    height: 35px;
    display: flex;
    background: #e4e4e4;
    position: relative;
}

.string_2 {
    margin-top: 0px;
    height: 35px;
    display: flex;
    background: #ffffff;
    position: relative;
}
.stats {
display: flex;
color: #738791;
}

.stats > div {
    margin-left: 10px;
    margin-top: 10px;
    font-weight: 400;
}

.stats > :last-child {
    margin-left: 35px;
}

.checked {
    position: absolute;
    left: 15px;
    top: 10px;
    display: flex;
    vertical-align: middle;
    color: #000000;
}

#scales {
    vertical-align: middle;
}

#name_ch{
    position: absolute;
    left: 25px;
    text-transform: uppercase;
    font-weight: 550;
    vertical-align: middle;
}

.checkbox-1{
    vertical-align: middle;
    position: absolute;
    margin-left: 155px;
    text-transform: uppercase;
    font-weight: 550;    
}

.main-board__left-block > .string :last-child {
    border-radius: 5px;
    font-weight: 550;
}

main > .main-wrapper > .main-board__left-block > .string > .checked > label {
    margin-left: 35px;
}

main > .main-wrapper > .main-board__left-block > .string_2 > .checked > label {
    margin-left: 35px;
}

.bt1{
    width: 100px;
    border: none;
    background-color: #0077ff52;
    text-align: center;
    border-radius: 5px;
    color: #000747;
}
